<form [formGroup]="studentForm" (ngSubmit)="submitted()">
  <div class="mt-5">
    <button
      (click)="onClick()"
      type="button"
      class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      {{ hide ? "Hide" : "Add student" }}
    </button>
  </div>
  <div *ngIf="hide">
    <div class="w-1/2">
      <div class="mb-6">
        <label
          for="base-input"
          class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300"
          >Student Name</label
        >
        <input
        formControlName="name"
          type="text"
          id="base-input" 
          placeholder="Please input name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <p *ngIf="!studentForm.controls.name.valid && studentForm.controls.name.touched" class="text-sm mt-0 text-red-500 ml-2 ">Name is require</p>

      </div>
      <label
        for="base-input"
        class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300"
        >Gender</label
      >
  
      <div class="flex">
        <div class="flex items-center mr-4">
          <input formControlName="gender"
          
            checked="" 
            id="inline-checked-radio"
            type="radio"
            value="Male"
            name="gender"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="inline-checked-radio"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Male
          </label>
        </div>
        <div class="flex items-center mr-4">
          <input formControlName="gender"
            id="inline-radio" 
            type="radio"
            value="Female"
            name="gender"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="inline-radio"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Female</label
          >
        </div>
        <div class="flex items-center mr-4">
          <input formControlName="gender" 
            id="inline-2-radio"
            type="radio"
            value="Other"
            name="gender"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="inline-2-radio"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Other</label
          >
        </div>
      </div>
  
      <div class="mt-5">
        <label
          for="subject"
          class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400"
          >Subject</label
        >
        <select 
        formControlName="subject" 
          id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-cyan-300 focus:border-cyan-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
        <option selected="" name="subject" >Choose subject</option>
          <option *ngFor="let list of sub">{{ list.subject }}</option>
         
        </select>
      </div>
      <button
        type="submit"
        [disabled]="!studentForm.valid" 
        class="text-gray-600 mt-5 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        Submit
      </button>
    </div>
  </div>
  
</form>
